In [1]:
lists=[]
for i in range(5,51,5):
    lists.append(i)
lists

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [2]:
lists=[]
for i in range(97,123):
    lists.append(chr(i))
lists

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [3]:
X=['rishabh','vidhi','poorva','shivi','tripti']
a=[]
for i in X:
    a.append(i)
print(a)

['rishabh', 'vidhi', 'poorva', 'shivi', 'tripti']

In [4]:
class Person:
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname

    def fullname(self):
        return "%s %s" % (self.name, self.surname)

jane = Person("Jane", "Smith")

print(dir(jane))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'fullname', 'name', 'surname']

In [5]:
print([j["districts"] for i,j in enumerate(eval(open('/home/youngmanit/Downloads/State.txt').read())["states"]) if j["state"]=="Uttar Pradesh"][0])

['Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Amethi (Chatrapati Sahuji Mahraj Nagar)', 'Amroha (J.P. Nagar)', 'Auraiya', 'Azamgarh', 'Baghpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Barabanki', 'Bareilly', 'Basti', 'Bhadohi', 'Bijnor', 'Budaun', 'Bulandshahr', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Buddha Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hamirpur', 'Hapur (Panchsheel Nagar)', 'Hardoi', 'Hathras', 'Jalaun', 'Jaunpur', 'Jhansi', 'Kannauj', 'Kanpur Dehat', 'Kanpur Nagar', 'Kanshiram Nagar (Kasganj)', 'Kaushambi', 'Kushinagar (Padrauna)', 'Lakhimpur - Kheri', 'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad', 'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'RaeBareli', 'Rampur', 'Saharanpur', 'Sambhal (Bhim Nagar)', 'Sant Kabir Nagar', 'Shahjahanpur', 'Shamali (Prabuddh Nagar)', 'Shravasti', 'Siddharth Nagar', 'Sitapur', 'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi']

In [7]:
# Sum all the items in a list
a = [1,2,3,4]
b =0
for i in a:
    b = b+i
print(b)

10

In [8]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers = sum_numbers + x
    return sum_numbers
sum_list([1,2,3,4])

10

In [9]:
# Multiply all the items in a list
b =[1,2,3,4,5]
c = 1
for i in b:
    c = c*i
print(c)

120

In [10]:
def Multiply(items):
    multiply_items = 1
    for i in items:
        multiply_items=multiply_items * i
    return multiply_items
Multiply([5,6,4,3,2,1])

720

In [14]:
# Write a Python program to get the largest number from a list
a = [1,5,4,3]
max = 0
for i in a:
    if i > max:
        max = i
print("Max Number is {}".format(max))

Max Number is 5

In [17]:
def max_num(list):
    max=list[0]
    for i in list:
        if i > max:
            max = i
    return max
max_num([1,2,3,4])

4

In [22]:
# Write a Python program to get the smallest number from a list.
a = [0,-5,2,3,4,5]
min = 0
for i in a:
    if i < min:
        min = i
print("Min Number is {}".format(min))

Min Number is -5

In [24]:
def smallest_num(list):
    min = 0
    for i in list:
        if i<min:
            min = i
    return min
smallest_num([5,-2,3,5])

-2

In [32]:
# Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
match_words=['ash','xyz','121','1221']
count = 0
for word in match_words:
    if len(word) > 1 and word[0] == word[-1]:
        count = count+1
print("Count of number {}".format(count))

Count of number 2

In [35]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [49]:
# Write a Python program to remove duplicates from a list.
a = [10,20,30,20,10,50,60]
b =[]
for num in a:
    if num not in b:
        b.append(num)
print("After Remove duplicate number list {}.".format(b))

After Remove duplicate number list [10, 20, 30, 50, 60].

In [57]:
a = [10,20,30,20,10,50,60]
list(set(a))

[10, 50, 20, 60, 30]

In [56]:
def duplicate_num(lis):
    duplicate=[]
    for i in lis:
        if i not in duplicate:
            duplicate.append(i)
    return duplicate
lis=[1,1,1,1,2,3,21,21,4,5]
duplicate_num(lis)

[1, 2, 3, 21, 4, 5]

In [58]:
# Method: Using list comprehension:
a = [10,20,30,20,10,50,60]
mylist = [ a[i] for i in range(len(a)) if a.index(a[i]) == i]
print(mylist)

[10, 20, 30, 50, 60]

In [59]:
list1 = ["M","na","i","Kh"]
list2 = ["y","me","s","an"]
[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [60]:
# List Comprasion
L = []
for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
L = [[i for i in range(2,11,2)] for j in range(1,11,1)]
print(L)

[[2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10], [2, 4, 6, 8, 10]]

In [68]:
# Scalar multiplication on a vector
v = [2,3,4]
s = -3
[s*i for i in v]

[-6, -9, -12]

In [69]:
#Add squares
L = [1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [70]:
# # Print all numbers divisible by 5 in the range of 1 to 50
languages = ['java','python','php','c','javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [72]:
[language for language in languages if language.endswith('n')]

['python']

In [74]:
# # Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [78]:
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']
[fruit for fruit in my_fruits if fruit in basket in basket if fruit.endswith('s')]

[]

In [79]:
# # Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [80]:
# # cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [81]:
# 2 ways to traverse a list
# itemwise
# indexwise
L = [1,2,3,4]

for i in L:
    print(i)

1
2
3
4

In [82]:
# indexwise
L = [1,2,3,4]
for i in range(0,len(L)):
    print(L[i])

1
2
3
4

In [84]:
# Zip
# zip function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.
# If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [88]:
# Write a program to add items of 2 lists indexwise
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]
list(zip(L1,L2))
[i+j for i,j in zip(L1,L2)]
[i*j for i,j in zip(L1,L2)]

[-1, -4, -9, -16]

In [89]:
L = [1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x7f9be0c0d370>>]

In [90]:
# Disadvantage of Python Lists
# slow , Risky usage, eats up more memory

In [92]:
a = [1,2,3]
b = a.copy()
print(a)
print(b)
a.append(4)
print(a)
print(b)
# list a re mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
list1= [1,2,3,4,5,6,7]
list2 = [2,3,4,5,6,7,8,9,10]
[list1 if list1 ]

In [ ]:
# Write a program to merge 2 list without using the + operator

In [93]:
# Create 2 lists from a given list where 
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers 

L = [1,2,3,4,5,6]

In [ ]:
# Write a program to replace an item with a different item if found in the list 
L = [1,2,3,4,5,3]
# replace 3 with 300

In [ ]:
# Write a program that can convert a 2D list to 1D list

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

In [ ]:
# Write a program to check if a list is in ascending order or not

In [94]:
##`Problem 1:` Combine two lists index-wise(columns wise)

# Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

# `Given List:`
# ```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
# ```

# `Output:`
# ```
# [['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
# ```
[[i,j] for (i,j) in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [126]:
# ### `Problem 2:` Add new item to list after a specified item
# Write a program to add item 7000 after 6000 in the following Python List
# ```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# ```
# `Output:`
# ```
#      [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
# ``
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [127]:
###`Problem 3:` Update no of items available

# Suppose you are given a list of candy and another list of same size representing no of items of respective candy. 

# i.e -  
# ```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
# ```

# Write a program to show no. of items of each candy type.

# `Output:`

# ```
# Jelly Belly-10
# Kit Kat-20
# Double Bubble-34
# Milky Way-74
# Three Musketeers-32

# ``
for (i,j) in zip(candy_list, no_of_items):
    print(i,'-',j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [129]:
# <!-- ###`Problem 4:` Running Sum on list
# Write a program to print a list after performing running sum on it.

# i.e:

# `Input:`
# ```
list1 = [1,2,3,4,5,6]
# ```
# `Output:`
# ```
# [1,3,6,10,15,21] -->
# ```
sum = 0
result = []
for i in list1:
    sum = sum+i
    result.append(sum)
print(result)

[1, 3, 6, 10, 15, 21]

In [130]:
# ###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

# i.e. Say given list is `[2,4,6,10,1]`
# resultant list will be `[22,20,10,23]`.

# For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

# For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

# like wise for all other elememts.

# `[2,4,6,10,1]`-->`[22,20,16,10,23]`


L = [2,4,6,10,1]
result = []
for i in L:
    sum =0
    for j in L:
        if i <= j:
            sum=sum+j
    result.append(sum)
print(result)

[22, 20, 16, 10, 23]

In [132]:
###`Problem 6:` Find list of common unique items from two list. and show in increasing order

# `Input`

# ```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
# ```

# `Output:`
# ```
# [34, 67, 89]
# ```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

common =[]
for i in num1:
    if i in num2:
        if i not in common:
            common.append(i)
print(sorted(common))

[34, 67, 89]

In [136]:
###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

# `Input:`
# ```
['1ac21', '23fg', '456', '098d','1','kls']
# ```

# `Output:`
# ```
# ['456', '23fg', '1ac21', '1', 'kls', '098d']

# ```
L = ['1ac21', '23fg', '456', '098d','1','kls']
prod_value = []
for item in L:
    product = 1
    for char in item:
        if char.isdigit():
            product = product*int(char)
        prod_value.append(prod_value)
list(zip(prod_value,L))

[([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  '1ac21'),
 ([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  '23fg'),
 ([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  '456'),
 ([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  '098d'),
 ([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  '1'),
 ([[...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...],
   [...]],
  'kls')]

In [137]:
# `Problem 8:` Split String of list on K character.

# **Example :**

# Input:
# ```bash
L =['CampusX is a channel', 'for data-science', 'aspirants.']
# ```

# Output:
# ```bash
# ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
# ```
inp = 'a'
result = []
for i in L:
    result.extend(i.split(inp))
print(result)

['C', 'mpusX is ', ' ch', 'nnel', 'for d', 't', '-science', '', 'spir', 'nts.']

In [138]:
### `Problem 9:` Convert Character Matrix to single String using string comprehension.

# **Example 1:** 

# Input:
# ```bash
L =[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
# ```

# Output:
# ```bash
# campux is best channel
# ```
print(" ".join(["".join(i) for i in L]))

campux is best channel

In [139]:
### `Problem 10:` Add Space between Potential Words.

# **Example:**

# Input:

# ```bash
test_list=['campusxIs', 'bestFor', 'dataScientist']
# ```

# Output:
# ```bash
# ['campusx Is', 'best For', 'data Scientist']
# ```
res = []
for i in test_list:
    temp = [[]]
    for char in i:
        if char.isupper():
            temp.append([])
        temp[-1].append(char)
    temp_string=""
    for item in temp:
        temp_string = temp_string + "".join(item) + ""
    res.append(temp_string[0:-1])
print(res)

['campusxI', 'bestFo', 'dataScientis']

In [140]:
### `Problem 11:` Write a program that can perform union operation on 2 lists

# **Example:**

# Input:

# ```bash
L1=[1,2,3,4,5,1]
L2=[2,3,5,7,8]
# ```

# Output:
# ```bash
# [1,2,3,4,5,7,8]
# ```
union = []
for i in L1:
    if i not in union:
        union.append(i)
for j in L2:
    if j not in union:
        union.append(j)
print(union)

[1, 2, 3, 4, 5, 7, 8]

In [151]:
### `Problem 12:` Write a program that can find the max number of each row of a matrix

# **Example:**

# Input:

# ```bash
# ```

# Output:
# ```bash
# [3,6,9]
# ```

In [154]:
# Write code here
def maxelement(arr):
    no_of_rows = len(arr)
    no_of_column = len(arr[0])
    
    for i in range(no_of_rows):
        max1 = 0
        for j in range(no_of_column):
            if arr[i][j] >max1:
                max1 = arr[i][j]
        print(max1)
arr =[[1,2,3],[4,5,6],[7,8,9]]
maxelement(arr)

3
6
9

In [160]:
## `Problem 13:` Write a list comprehension to print the following matrix

# [[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [159]:
[[j + 3*i for j in range(0,3)] for i in range(0,3)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [161]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

[[row[i] for row in matrix] for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for row in matrix:
    for item in row:
        print(item, end='')
[item for row in matrix for item in row]

123456789

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
# remove duplictes
my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
print(list(dict.fromkeys(my_list_1)))

[5, 2, 90, 24, 10, 34]

In [171]:
my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
b = []
[b.append(item) for item in my_list_1 if item not in b]
b

[5, 2, 90, 24, 10, 34]

In [172]:
# Find all of the numbers from 1–1000 that are divisible by 8
[i for i in range(1,1000) if i % 8 == 0]

[8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96,
 104,
 112,
 120,
 128,
 136,
 144,
 152,
 160,
 168,
 176,
 184,
 192,
 200,
 208,
 216,
 224,
 232,
 240,
 248,
 256,
 264,
 272,
 280,
 288,
 296,
 304,
 312,
 320,
 328,
 336,
 344,
 352,
 360,
 368,
 376,
 384,
 392,
 400,
 408,
 416,
 424,
 432,
 440,
 448,
 456,
 464,
 472,
 480,
 488,
 496,
 504,
 512,
 520,
 528,
 536,
 544,
 552,
 560,
 568,
 576,
 584,
 592,
 600,
 608,
 616,
 624,
 632,
 640,
 648,
 656,
 664,
 672,
 680,
 688,
 696,
 704,
 712,
 720,
 728,
 736,
 744,
 752,
 760,
 768,
 776,
 784,
 792,
 800,
 808,
 816,
 824,
 832,
 840,
 848,
 856,
 864,
 872,
 880,
 888,
 896,
 904,
 912,
 920,
 928,
 936,
 944,
 952,
 960,
 968,
 976,
 984,
 992]

In [176]:
# Find all of the numbers from 1–1000 that have a 6 in them
[num for num in range(1,1000) if "6" in str(num)]

[6,
 16,
 26,
 36,
 46,
 56,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 76,
 86,
 96,
 106,
 116,
 126,
 136,
 146,
 156,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 176,
 186,
 196,
 206,
 216,
 226,
 236,
 246,
 256,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 276,
 286,
 296,
 306,
 316,
 326,
 336,
 346,
 356,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 376,
 386,
 396,
 406,
 416,
 426,
 436,
 446,
 456,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 476,
 486,
 496,
 506,
 516,
 526,
 536,
 546,
 556,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 576,
 586,
 596,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 706,
 716,
 726,
 736,
 746,
 756,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 776,
 786,
 796,
 806,
 816,
 826,
 836,
 846,
 856,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 876,
 886,
 896,
 906,
 916,
 926,
 936,
 946,
 956,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 976,
 986,
 996]

In [182]:
# Count the number of spaces in a string (use string above)
string = [a, b, c]
len([char for char in string if char == ""])

0

In [183]:
# 4. Remove all of the vowels in a string
string =["ashish"]
"".join([char for char in string if char not in ["a","e","i","o","u"]])

'ashish'

In [184]:
#  Iteration with List comprehension

[char for char in [1,2,4]]

[1, 2, 4]

In [186]:
# Even list using list comprehension
list = [i for i in range(11) if i % 2 == 0]
list

[0, 2, 4, 6, 8, 10]

In [190]:
# Matrix using List comprehension
[[j for j in range(3)] for i in range(5)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [192]:
# # List Comprehenloo[pions vs For Loop
# loop
list = []
for char in "ashish kumar chaurasiya":
    list.append(char)
print(list)

['a', 's', 'h', 'i', 's', 'h', ' ', 'k', 'u', 'm', 'a', 'r', ' ', 'c', 'h', 'a', 'u', 'r', 'a', 's', 'i', 'y', 'a']

In [193]:
[char for char in "ashis chaurasiya"]

['a',
 's',
 'h',
 'i',
 's',
 ' ',
 'c',
 'h',
 'a',
 'u',
 'r',
 'a',
 's',
 'i',
 'y',
 'a']

In [195]:
# Time Analysis in List Comprehensions and Loop
import time
def for_loop(n):
    result = []
    for i in range(n):
        result.append(i**2)
    return result

def list_comprasion(n):
    return [i**2 for i in range(n)]

begin = time.time()
for_loop(10**6)
end = time.time()
print('Time taken for_loop:',round(end-begin,2))

# calculate tie takens by list_comprasion
begin = time.time()
list_comprasion(10**6)
end = time.time()

print('Time taken for list_comprasion:',round(end-begin,2))

Time taken for_loop: 0.19
Time taken for list_comprasion: 0.17

In [196]:
# Nested List Comprehensions
matrix = []
for i in range(3):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [198]:
[[j for j in range(5)] for i in range(3)]

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [199]:
# List Comprehensions and Lambda
numbers = []
for i in range(1,6):
    numbers.append(i*10)
print(numbers)

[10, 20, 30, 40, 50]

In [200]:
numbers = [i*10 for i in range(1,6)]
numbers

[10, 20, 30, 40, 50]

In [205]:
# using lambda to print table of 10
list(map(lambda i: i*10, [i for i in range(1, 6)]))

TypeError: 'list' object is not callable

In [206]:
# Conditionals in List Comprehension
lis = ["Even number" if i % 2 == 0 else "Odd number" for i in range(8)]
lis

['Even number',
 'Odd number',
 'Even number',
 'Odd number',
 'Even number',
 'Odd number',
 'Even number',
 'Odd number']

In [207]:
# Nested IF with List Comprehension
lis = [num for num in range(100) if num % 5 == 0 if num % 10 == 0]
lis

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [209]:
# Example 3: Display square of numbers from 1 to 10.
[n**2 for n in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [214]:
# Display Transpose of 2D- Matrix.twoDMatrix =
twoDMatrix = [[10, 20, 30],
              [40, 50, 60],
              [70, 80, 90]]
# genrate transpose
trans = [[i[j] for i in twoDMatrix] for j in range(len(twoDMatrix))]
trans

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [216]:
# Toggle the case of each character in a string.
string = 'Geeks4Geeks'
List = list(map(lambda i: chr(ord(i) ^ 32), string))
List

TypeError: 'list' object is not callable

In [217]:
# Reverse each string in a tuple.
[string[::-1] for string in ('Geeks', 'for', 'Geeks')]

['skeeG', 'rof', 'skeeG']

In [219]:
# Display the sum of digits of all the odd elements in a list.
def digitSum(n):
    dsum = 0
    for ele in str(n):
        dsum += int(ele)
    return dsum
List = [367, 111, 562, 945, 6726, 873]
newList = [digitSum(i) for i in List if i & 1]
print(newList)

[16, 3, 18, 18]