In [5]:
import pymongo

In [7]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")

In [8]:
print(client)

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [11]:
mydb = client["customers"]

In [12]:
print(mydb)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'customers')

In [13]:
mycol = mydb["customers"]

In [14]:
print(mycol)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'customers'), 'customers')

In [15]:
# Insert Into Collection
# To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.
# The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

mydict = {"name":"John","address":"Highway 37"}

In [16]:
x = mycol.insert_one(mydict)

In [17]:
print(x)

<pymongo.results.InsertOneResult object at 0x7fb61b19ab80>

In [18]:
mydict = {"name":"Peter", "address":"Lowstreet 27"}
x = mycol.insert_one(mydict)
# Return the _id Field
# The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.
print(x.inserted_id)

63933d73da8c580189711c2f

In [ ]:
# Insert Multiple Documents
# To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

In [ ]:
# The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [19]:
mylist = [
    {"name":"Amy","address":"Apple st 652"},
    {"name":"Ashish","address":"Noida Sector 44"},
    {"name":"Abhishek","address":"Kanpur UP"},
    {"name":"Ajay","address":"Delhi"},
    {"name":"Shubham","address":"MandiHouse"},
    {"name":"Vishal","address":"Gorakhpur"}
]

In [20]:
x = mycol.insert_many(mylist)

In [21]:
print(x.inserted_ids)

[ObjectId('63933eb3da8c580189711c30'), ObjectId('63933eb3da8c580189711c31'), ObjectId('63933eb3da8c580189711c32'), ObjectId('63933eb3da8c580189711c33'), ObjectId('63933eb3da8c580189711c34'), ObjectId('63933eb3da8c580189711c35')]

In [22]:
# Insert Multiple Documents, with Specified IDs
# The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

In [23]:
# If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).

In [24]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

In [25]:
x = mycol.insert_many(mylist)

In [26]:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
# MongoDB use find() and find_one() methods to find data in a collection
# As like Select statement is used to find data in a table in a mysql database

In [28]:
# find 
# select data from a table in mongodb, we can also use the find() method,
# find() methods returns all occurrences in the selection

In [29]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
# Returns only some fields
for x in mycol.find({},{"_id":0, "name": 1, "address":1}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ashish', 'address': 'Noida Sector 44'}
{'name': 'Abhishek', 'address': 'Kanpur UP'}
{'name': 'Ajay', 'address': 'Delhi'}
{'name': 'Shubham', 'address': 'MandiHouse'}
{'name': 'Vishal', 'address': 'Gorakhpur'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
# You are not allowed to specify both 0 and 1 values in the same object. If you specify a field with the value 0,all other fields get the value 1,and vice versa:

In [31]:
for x in mycol.find({},{"address":0}):
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [32]:
# find_one()
# To select data from a collection in MongoDB, we can use the find_one() method
# The find_one() method returns the first occurrence in the selection.

In [33]:
x = mycol.find_one()

In [34]:
x

{'_id': ObjectId('63933d22da8c580189711c2e'),
 'name': 'John',
 'address': 'Highway 37'}

In [35]:
# Filter
myquery = {"address":"Park Lane 38"}
mydoc = mycol.find(myquery)

In [36]:
for i in mydoc:
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}

In [37]:
print(mydoc.cursor_id)

0

In [38]:
# Advanced Query
# Find documents where the address starts with the letter "S" or higher
myquery = { "address":{ "$gt":"S" } }
mydoc=mycol.find(myquery)

In [39]:
for i in mydoc:
    print(i)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [40]:
# Filter With Regular Expressions
# Regular expressions can only be used to query strings.
# The find only the documents where the "address" field starts with the letter "S", use the regular experssion {"$reges":"^S"}:
# Find documents where the address starts with the letter "S":

In [41]:
myquery = {"address":{ "$regex": "^S" }}

mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [43]:
myquery = {"address":{"$regex": "^A"}}

mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [44]:
# Sort the Result
# sort() method to sort the result in asceding or descending order
# sort() method takes one parameter for "filedname" and one parameter for "direction" (ascending is the default direction).

In [45]:
mydoc = mycol.find().sort("name")

In [46]:
for x in mydoc:
    print(x)

{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [ ]:
# Sort descending
# Use the value -1 as the second parameter to sort descending.
# sort("name", 1) #ascending
# sort("name", -1) #descending

In [47]:
# Sort the result reverse alphabetically by name:
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
    print(x)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}

In [ ]:
# Python MongoDB Delete Document
# To delete one document, we can use the delete_one() method
# The first parameter of the delete_one() method