In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")

In [3]:
print(client)

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
mydb = client["customers"]

In [5]:
print(mydb)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'customers')

In [6]:
mycol = mydb["customers"]

In [7]:
print(mycol)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'customers'), 'customers')

In [8]:
# Insert Into Collection
# To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.
# The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

mydict = {"name":"John","address":"Highway 37"}

In [9]:
x = mycol.insert_one(mydict)

In [10]:
print(x)

<pymongo.results.InsertOneResult object at 0x7f22ba9268b0>

In [11]:
mydict = {"name":"Peter", "address":"Lowstreet 27"}
x = mycol.insert_one(mydict)
# Return the _id Field
# The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.
print(x.inserted_id)

63943ecac7dd7a9be95409e7

In [12]:
# Insert Multiple Documents
# To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

In [13]:
# The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [14]:
mylist = [
    {"name":"Amy","address":"Apple st 652"},
    {"name":"Ashish","address":"Noida Sector 44"},
    {"name":"Abhishek","address":"Kanpur UP"},
    {"name":"Ajay","address":"Delhi"},
    {"name":"Shubham","address":"MandiHouse"},
    {"name":"Vishal","address":"Gorakhpur"}
]

In [15]:
x = mycol.insert_many(mylist)

In [21]:
print(x.inserted_ids)

[ObjectId('63943ecac7dd7a9be95409e8'), ObjectId('63943ecac7dd7a9be95409e9'), ObjectId('63943ecac7dd7a9be95409ea'), ObjectId('63943ecac7dd7a9be95409eb'), ObjectId('63943ecac7dd7a9be95409ec'), ObjectId('63943ecac7dd7a9be95409ed')]

In [17]:
# Insert Multiple Documents, with Specified IDs
# The insert_many() method returns a InsertManyResult object, which has a property, inserted_ids, that holds the ids of the inserted documents.

In [18]:
# If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).

In [22]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

In [23]:
x = mycol.insert_many(mylist)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: customers.customers index: _id_ dup key: { : 1 }', 'op': {'_id': 1, 'name': 'John', 'address': 'Highway 37'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [24]:
print(x.inserted_ids)

[ObjectId('63943ecac7dd7a9be95409e8'), ObjectId('63943ecac7dd7a9be95409e9'), ObjectId('63943ecac7dd7a9be95409ea'), ObjectId('63943ecac7dd7a9be95409eb'), ObjectId('63943ecac7dd7a9be95409ec'), ObjectId('63943ecac7dd7a9be95409ed')]

In [ ]:
# MongoDB use find() and find_one() methods to find data in a collection
# As like Select statement is used to find data in a table in a mysql database

In [ ]:
# find 
# select data from a table in mongodb, we can also use the find() method,
# find() methods returns all occurrences in the selection

In [25]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63943ecac7dd7a9be95409e6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63943ecac7dd7a9be95409e7'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63943ecac7dd7a9be95409e8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63943ecac7dd7a9be95409e9'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63943ecac7dd7a9be95409ea'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63943ecac7dd7a9be95409eb'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63943ecac7dd7a9be95409ec'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': ObjectId('63943ecac7dd7a9be95409ed'), 'name': 'Vishal', 'address': 'Gorakhpur'}

In [26]:
# Returns only some fields
for x in mycol.find({},{"_id":0, "name": 1, "address":1}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ashish', 'address': 'Noida Sector 44'}
{'name': 'Abhishek', 'address': 'Kanpur UP'}
{'name': 'Ajay', 'address': 'Delhi'}
{'name': 'Shubham', 'address': 'MandiHouse'}
{'name': 'Vishal', 'address': 'Gorakhpur'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ashish', 'address': 'Noida Sector 44'}
{'name': 'Abhishek', 'address': 'Kanpur UP'}
{'name': 'Ajay', 'address': 'Delhi'}
{'name': 'Shubham', 'address': 'MandiHouse'}
{'name': 'Vishal', 'address': 'Gorakhpur'}

In [ ]:
# You are not allowed to specify both 0 and 1 values in the same object. If you specify a field with the value 0,all other fields get the value 1,and vice versa:

In [27]:
for x in mycol.find({},{"address":0}):
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}
{'_id': ObjectId('63943ecac7dd7a9be95409e6'), 'name': 'John'}
{'_id': ObjectId('63943ecac7dd7a9be95409e7'), 'name': 'Peter'}
{'_id': ObjectId('63943ecac7dd7a9be95409e8'), 'name': 'Amy'}
{'_id': ObjectId('63943ecac7dd7a9be95409e9'), 'name': 'Ashish'}
{'_id': ObjectId('63943ecac7dd7a9be95409ea'), 'name': 'Abhishek'}
{'_id': ObjectId('63943ecac7dd7a9be95409eb'), 'name': 'Ajay'}
{'_id': ObjectId('63943ecac7dd7a9be95409ec'), 'name': 'Shubham'}
{'_id': ObjectId('63943ecac7dd7a9be95409ed'), 'name': 'Vishal'}

In [ ]:
# find_one()
# To select data from a collection in MongoDB, we can use the find_one() method
# The find_one() method returns the first occurrence in the selection.

In [28]:
x = mycol.find_one()

In [29]:
x

{'_id': ObjectId('63933d22da8c580189711c2e'),
 'name': 'John',
 'address': 'Highway 37'}

In [30]:
# Filter
myquery = {"address":"Park Lane 38"}
mydoc = mycol.find(myquery)

In [31]:
for i in mydoc:
    print(x)

{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}

In [32]:
print(mydoc.cursor_id)

0

In [33]:
# Advanced Query
# Find documents where the address starts with the letter "S" or higher
myquery = { "address":{ "$gt":"S" } }
mydoc=mycol.find(myquery)

In [34]:
for i in mydoc:
    print(i)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
# Filter With Regular Expressions
# Regular expressions can only be used to query strings.
# The find only the documents where the "address" field starts with the letter "S", use the regular experssion {"$reges":"^S"}:
# Find documents where the address starts with the letter "S":

In [35]:
myquery = {"address":{ "$regex": "^S" }}

mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [36]:
myquery = {"address":{"$regex": "^A"}}

mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63943ecac7dd7a9be95409e8'), 'name': 'Amy', 'address': 'Apple st 652'}

In [ ]:
# Sort the Result
# sort() method to sort the result in asceding or descending order
# sort() method takes one parameter for "filedname" and one parameter for "direction" (ascending is the default direction).

In [37]:
mydoc = mycol.find().sort("name")

In [38]:
for x in mydoc:
    print(x)

{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63943ecac7dd7a9be95409ea'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63943ecac7dd7a9be95409eb'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63943ecac7dd7a9be95409e8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63943ecac7dd7a9be95409e9'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63943ecac7dd7a9be95409e6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63943ecac7dd7a9be95409e7'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': ObjectId('63943ecac7dd7a9be95409ec'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': ObjectId('63943ecac7dd7a9be95409ed'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [ ]:
# Sort descending
# Use the value -1 as the second parameter to sort descending.
# sort("name", 1) #ascending
# sort("name", -1) #descending

In [39]:
# Sort the result reverse alphabetically by name:
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
    print(x)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63933eb3da8c580189711c35'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': ObjectId('63943ecac7dd7a9be95409ed'), 'name': 'Vishal', 'address': 'Gorakhpur'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63933eb3da8c580189711c34'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': ObjectId('63943ecac7dd7a9be95409ec'), 'name': 'Shubham', 'address': 'MandiHouse'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63933d73da8c580189711c2f'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63943ecac7dd7a9be95409e7'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63933d22da8c580189711c2e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63943ecac7dd7a9be95409e6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63933eb3da8c580189711c31'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63943ecac7dd7a9be95409e9'), 'name': 'Ashish', 'address': 'Noida Sector 44'}
{'_id': ObjectId('63933eb3da8c580189711c30'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63943ecac7dd7a9be95409e8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63933eb3da8c580189711c33'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63943ecac7dd7a9be95409eb'), 'name': 'Ajay', 'address': 'Delhi'}
{'_id': ObjectId('63933eb3da8c580189711c32'), 'name': 'Abhishek', 'address': 'Kanpur UP'}
{'_id': ObjectId('63943ecac7dd7a9be95409ea'), 'name': 'Abhishek', 'address': 'Kanpur UP'}

In [ ]:
# Python MongoDB Delete Document
# To delete one document, we can use the delete_one() method
# The first parameter of the delete_one() method

In [40]:
# Delete the document with the address "Mountain 21":
myquery = {"address":"Mountain 21"}

In [41]:
print(mycol.delete_one(myquery))

<pymongo.results.DeleteResult object at 0x7f22b8cbc700>

In [43]:
# Delete Many Documents
# To delete more than one document, use the delete_many() method.
#  delete_many() method is a quer object defining which documents to delete

In [45]:
import pymongo
myquery = {"address":{"$reges":"^S"}}
x = mycol.delete_many(myquery)
print(x.deleted_count,"documents deleted.")

WriteError: unknown operator: $reges, full error: {'index': 0, 'code': 2, 'errmsg': 'unknown operator: $reges'}

In [47]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
print(mycol)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')

In [48]:
x = mycol.delete_many({})

In [50]:
print(x.deleted_count,"documents deleted")

0 documents deleted

In [51]:
# Python MongoDB Drop Collection
# You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [53]:
print(mycol)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')

In [54]:
print(mycol.drop())
# The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

None

In [61]:
# Python MongoDB Update
# You can update a record, or document as it is called in MongoDB, by using the update_one() method
# The first parameter of the update_one() method is a query object defining which document to update
# Note: If the query finds more than one record, only the first occurrence is updated.
# Change the address from "Valley 345" to "Canyon 123":

myquery = {"address":"Valley 345"}
newvalues = {"$set": {"address":"Canyon 123"}}

mycol.update_one(myquery, newvalues)
for x in mycol.find():
    print(x)

In [62]:
# update many
# update all documents that meets the criteria of the query, use the update_many() method

In [63]:
myquery = {"address":{ "$regex":"^S" }}

In [64]:
print(myquery)

{'address': {'$regex': '^S'}}

In [65]:
newvalues = { "$set": { "name": "Minnie" } }
x = mycol.update_many(myquery, newvalues)

In [66]:
print(x.modified_count, "documents updated")

0 documents updated

In [67]:
# Python MongoDB Limit
# to limit the result in MongoDB, we use the limit() method.

In [68]:
# limit method takes one parameter, a number defining how many documents to return

In [69]:
myresult = mycol.find().limit(5)
for x in myresult:
    print(x)

In [72]:
print(mycol.find().limit(5))

<pymongo.cursor.Cursor object at 0x7f22a472ba30>

In [73]:
import pymongo

In [74]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")

In [75]:
print(client)

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

In [79]:
mydb = client["blog"]

In [80]:
print(mydb)

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'blog')

In [81]:
mydb.create_collection("posts")

ServerSelectionTimeoutError: 127.0.0.1:27017: [Errno 111] Connection refused, Timeout: 30s, Topology Description: <TopologyDescription id: 639457eac7dd7a9be95409f0, topology_type: Unknown, servers: [<ServerDescription ('127.0.0.1', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('127.0.0.1:27017: [Errno 111] Connection refused')>]>

In [83]:
mydb.posts.insertOne({
  title: "Post Title 1",
  body: "Body of post.",
  category: "News",
  likes: 1,
  tags: ["news", "events"],
  date: Date()
})

NameError: name 'title' is not defined