In [1]:
org_str = 'cebad'
new_str_list = sorted(org_str)
new_str_list

['a', 'b', 'c', 'd', 'e']

###### The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [3]:
curr_pop=10000
for i in range(10,0,-1):
    print(i,curr_pop)
    curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [5]:
# Sequence sum
# 1/1! + 2/2! + 3/3! + ...
n=int(input("enter the number"))
result=0
fact=1
for i in range(1,n+1):
    fact=fact*i
    result = result + i/fact
print(result)

enter the number4
2.6666666666666665

In [10]:
# nexted loop
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end='')
    print()

*
**
***
****

In [15]:
rows= int(input("enter the number"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

enter the number4
1
121
12321
1234321

In [16]:
# break
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [18]:
lower_range= int(input("enter the number"))
upper_range= int(input("enter upper range"))
for i in range(lower_range,upper_range+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

enter the number2
enter upper range100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [19]:
# String are sequence of Characters
# In python specifically, string are a sequence of Unicode Characters
# Creating String
# Accessing String
# Adding Chars to Strings
# Editing Strings
# Deleting Strings
# Operations on stirings
# String Fucntions

In [20]:
s='hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [22]:
# Accessing Substrings from a String
# Positive String
s = 'hello world'
print(s[4])

o

In [23]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [26]:
# Slicing
s = 'hello world'
print(s[0:5])
print(s[2:3])
print(s[:3])

hello
l
hel

In [28]:
s = 'hello world'
print(s[6:0:-1])

w olle

In [29]:
s = 'hello world'
print(s[6:0:-2])

wol

In [30]:
print(s[::-1])

dlrow olleh

In [36]:
# when use negative indexing then use always first number is larage
s = 'hello world'
print(s[-1:-6:-1])

dlrow

In [41]:
# Editing and Deleting in Strings
# when have created string then don't change
# It's immutabe dont change able
# It can't be muteted
# It's not working does not support deletion object
s = "hello workd"
del s[-1:-5:2]
print(s)

TypeError: 'str' object does not support item deletion

In [ ]:
# Operations On Strings
# Arithmetic Operations
# Relationl Operations
# Logical Operations
# Loops on Strings
# Membership Operations

In [43]:
# Arithmetic Operations
# Python work on two operations +,*
print('delhi' + ' '+ 'mumbai')

delhi mumbai

In [44]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [45]:
# Relational Operations
'delhi' == 'mumbai'

False

In [46]:
'delhi' != "Mumbai"

True

In [47]:
'mumbai' > 'pune'
# lexiographically use in alphabets

False

In [48]:
'Pune'> 'pune'

False

In [49]:
'hello' and 'world'

'world'

In [50]:
'hello' or 'world'

'hello'

In [52]:
# If stirng is empty python understand false value
'hello' and 'world'

'world'

In [53]:
'' or 'world'

'world'

In [56]:
not 'hello'

False

In [57]:
# loops membership operatos
for i in 'heelo':
    print(i)

h
e
e
l
o

In [58]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [59]:
# membership operatos
'D' in 'Delhi'

True

In [61]:
'D' not in 'Delhi'

False

In [62]:
# Strings Functions
# Common functions
# len, max,min,sorted
len('hello world')

11

In [63]:
max('hello world')

'w'

In [65]:
min('hello world')

' '

In [67]:
sorted('hello world',reverse=True)
# sorted output provide in list

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [68]:
# Strings Functions
# Capitalize
s = 'hello world'
s.capitalize()

'Hello world'

In [70]:
s.title()

'Hello World'

In [71]:
s.upper()

'HELLO WORLD'

In [72]:
s.lower()

'hello world'

In [73]:
# swap case
'Hello World'.swapcase()

'hELLO wORLD'

In [74]:
# Count/Find/Index
# Count use for frequency count
'my name is Ashish'.count('i')

2

In [75]:
'my name is Ashish'.find('is')

8

In [78]:
'my name is Ashish'.index('fds')

ValueError: substring not found

In [79]:
# endswith/startwith
'my name is nitish'.endswith('sho')

False

In [80]:
'my name is ashish'.startswith('my')

True

In [81]:
  # Format
name= 'ashish'
gender = 'male'
'Hi my name is{} ashish'

'Hi my name is ashish'

In [97]:
first_name = "Ashish"
last_name = "Chaurasiya"
print("Hi my name is {0},{1}".format(first_name,last_name))

Hi my name is Ashish,Chaurasiya

In [ ]:
# isalnum = check string alphanumeric  alphabets and numeric
# isalpha = check alphabets
# isdigit = check only digits
# identifires = check valid identifires

In [92]:
# split/join
# spilt = its break word by word convert the python list
a = 'ashish kumar chaurasiya'
a.split()
print("".join(a))

ashish kumar chaurasiya

In [ ]:
# join = the reverse of the spilt

In [93]:
# Replace
a = "ashish kumar chaurasiya"
a.replace('ashish','abhishek')

'abhishek kumar chaurasiya'

In [95]:
# Strip
# Remove the all the spaces
a ='nitesh          '.strip()
a

'nitesh'

In [ ]:
# # Find the length of a given string without using the len() function

In [ ]:
# # Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

In [ ]:
# # Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [ ]:
# # Write a program which can remove a particular character from a string.

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

In [ ]:
# Write a program to count the number of words in a string without split()

In [ ]:
# Write a python program to convert a string to title case without using the title()

In [ ]:
# Write a program that can convert an integer to string.

In [ ]:
# You have given a string v = 'elephant'
# Replace all 'e' with 'y'

In [ ]:
# Calculate the number vowels and consonents for val = 'Alan Walker'
# output=V = 4 C= 6

In [ ]:
# Create a program which will create a string from A-Z

In [ ]:
# Given a string below
# Temp = 'this is my cat and I love it'
# output:'thiS iS mY caT anD I lovE iT'
# output:'Siht si ym tac dna I evol ti'
# output : 'Is this cat my I and it love'

In [ ]:
# given a string val1 = 'walker' & val2 = 'ramesh'
# output : 'wraalmkeesrh'

In [ ]:
# Input a string from user and display the count of each unique character
# output str = 'nitin'
# n=2
# i=2
# T=1

In [ ]:
# You have given a string val = 'a7j2v4k5'
# output:'aaaaaaajjvvvvkkkkk'

In [ ]:
# you have given a string val = 'elephant'
# output:'elleeepppphhhhhaaaaaannnnnnntttttttt'

In [ ]:
# val = '1,2,3,,4,,5,,,6,,,,7 ,,8,9,,10'
# Calculate the summation of the numbers
# output:'questions'

In [ ]:
# Without using any inbuilt functions arrange the given string in ascending order
# output: new = 'einoqsstu'

In [ ]:
# Write a program to check whether a given string is consecutive or not
# output: val='abcdeg' not consecutive
# val = 'mnopqrst' is consecutive

In [ ]:
# input a string from user & with using while loop calculate the length without  using len function