In [1]:
import pandas as pd

In [2]:
# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

In [3]:
pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [4]:
# integers
runs = [12,24,56,78,100]
pd.Series(runs)

0     12
1     24
2     56
3     78
4    100
dtype: int64

In [5]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']
pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [8]:
# setting a name in series
marks=pd.Series(marks,index=subjects, name = 'Nitesh ke marks')
marks

maths       67
english     57
science     89
hindi      100
Name: Nitesh ke marks, dtype: int64

#### Series from dict

In [12]:
marks ={
    'math':67,
    'english':57,
    'science':89,
    'hindi':100
}
marks_series = pd.Series(marks,name='ashish ke marks')
marks_series

math        67
english     57
science     89
hindi      100
Name: ashish ke marks, dtype: int64

#### Series Attributes

In [14]:
marks_series.size

4

In [15]:
marks_series.dtype

dtype('int64')

In [16]:
# name
marks_series.name

'ashish ke marks'

In [19]:
# is_unique
# Every item unique or not
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [21]:
# index
marks_series.index

Index(['math', 'english', 'science', 'hindi'], dtype='object')

In [23]:
# values
marks_series.values

array([ 67,  57,  89, 100])

#### Series using read_csv

In [27]:
# with one col
# By default data is return Dataframe if I have return series then use squeexe= True
subs=pd.read_csv('subs.csv',squeeze=True)
subs

/tmp/ipykernel_476999/2845473688.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs=pd.read_csv('subs.csv',squeeze=True)

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [28]:
vk = pd.read_csv('kohli_ipl.csv',squeeze=True)

/tmp/ipykernel_476999/2958487620.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('kohli_ipl.csv',squeeze=True)

In [29]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [32]:
 movies=pd.read_csv('bollywood.csv',index_col='movie',squeeze=True)

/tmp/ipykernel_476999/3168866283.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies=pd.read_csv('bollywood.csv',index_col='movie',squeeze=True)

In [33]:
movies
# read_csv default beahaviour store in dataframe using squeeze then return in series

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object